@import "../../app.scss";

footer {
  @include themify($themes) {
    margin-top: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: themed("bgSoft");
    font-size: 12px;
    img {
      height: 50px;
      width: 50px;
    }

    span {
      color: themed("textColorSoft");
    }
  }
}
